{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="charts text-center">
          <div class="row"><div id="scatter"></div></div><hr>
          <!-- Placeholder for the tooltip -->
          <div id="vis-tooltip" class="vg-tooltip"></div>
        </div>
    </div>

    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>     

    <script type="text/javascript">
      function parse(url, div) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: {export: true, source: false, editor: false}
        };

        vegaEmbed("#"+div, url, opt, function(error, result) {
          // result.view is the Vega View, url is the original Vega-Lite specification
          vegaTooltip.vegaLite(result.view, url);
        });
      }
      parse("/altair/scatter", "scatter");
    </script>
{% endblock %}